@import "tailwindcss";



@theme{

--color-background:#FFFFFF;
--color-primary:#0F1E3D;  /* اللون الأساسي */
--color-forground:#1A2B4D;
--color-secondry:#735B15;  /* لون مساعد */
 --color-tertiary:#F7F9FC;  /* لون مساعد */
--color-Neutral:#F7F7F7; /* النصوص / الداكن */
--font-headline:"Noto Serif";
--font-body:"Manrope";
--font-lab:"Manrope";
--animate-moveline: moveline 20s linear infinite;

}

@layer base{

body{

background-color: var(--color-background);
font-family:var(--font-body) ;
 overflow-x: hidden;
}

  h1, h2 ,h3, h4, h5 ,h6 {
    font-family:var(--font-headline) ;
  }

  a {

 font-family: var(--font-lab);


}


}

@utility  row{

 @apply flex items-center  ; 


}



@keyframes moveline {
    0% {
     
       transform: translateX(100%);
    }
    100% {
    
       transform: translateX(-1000%);
    }



}

